*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: azure;
    background-image: url(under-construction.jpg);
}
Header{
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: darkblue;
}
.Navbar{
    background-color: cadetblue;
    border-radius: 25px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    /* display: flex;
    border-radius: 50px;
    
    margin: 1px; 
    padding: 5px;  */

}
.Navbar ul{
    /* display: flex; */
    list-style: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    /* position: absolute; */

    
    
    /* margin: 1px;
    background-color: rgb(40, 89, 40);
    border-radius: 50px; */
}
.Navbar ul li{
    
    /* padding: 5px;
    margin: 5px; */
    float: left;
    margin-top: 20px;

    padding: 12px;
    list-style: none;
    
}
.Navbar ul li a{
    text-decoration: none;
    background-color: aliceblue;
    color: black;
    border-radius: 12px;
    /* padding: 4px; */
    width: 150px;
        /* color: white; */
        display: block;
        /* text-decoration: none; */
        font-size: 20px;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        font-family: Century Gothic;
        font-weight: bold;

        
    
    /* margin: 2px; */
    
    
    
}
.Navbar ul li a:hover{
    background-color: darkred;
    color: antiquewhite;
    cursor: pointer;
    border-radius: 15px;

    /* color: black;
    background-color: azure;
    border-radius: 10px; */
}
ul li ul{
  /* background-color: #000033; */
  display: none;
}
ul li ul li{
  float: none;
}
ul li:hover ul{
  display: block;
}

li a, .dropbtn {
    display: block;
    text-align: center;
    text-decoration: none;
  }
  li a:hover, .dropdown:hover .dropbtn {
    background-color: azure;
    color: black;
  }
  li.dropdown {
    display: block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    z-index: 1;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    color: black;
} 
  .dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    border-radius: 0px
}

